@import "../../variables.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  z-index: 1;
  margin-left: 0%;
  margin-right: 0%;
  background: var(--gradient-bg);
  padding: 20px;
}

  
  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 0px 0px 80px 0px;
    gap: 12px;
  }
  
  .title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
    color: #888888;
  }
  
  .desc {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: var(--color-text);
  }
  
  .contact-form {
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 32px;
    border-radius: 16px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    margin-top: 28px;
    gap: 12px;
  }
  
  .contact-title {
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: 600;
    color: var (--gradient);
    
  }
  
  .contact-input {
    flex: 1;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    outline: none;
    font-size: 18px;
    color: var(--color-primary);
    border-radius: 12px;
    padding: 12px 16px;
  }
  
  .contact-input-message {
    flex: 1;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    outline: none;
    font-size: 18px;
    color: var(--text_primary);
    border-radius: 12px;
    padding: 12px 16px;
  }
  
  .contact-button {
    background: var(--gradient);
    border-radius: var(--radius);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    padding: 10px;
    min-width: 100px;
    border: none;
    background-size: 200% auto;
    transition: 0.5s;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2) inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  .contact-button:hover {
    color: #ffffff; 
}