@import "../../variables.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  z-index: 1;
  margin-left: 0%;
  margin-right: 0%;
  background: var(--gradient-bg);
  padding: 20px; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: var(--font-roboto);
    background: var(--color-silverFonce) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  
  

  .title2 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: var(--font-roboto);
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  
  

.description {
  font-size: 20px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  color: var(--color-text);
}

.contactBtn {
  background: var(--gradient);
  border-radius: var(--radius);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: var(----color-text);
  padding: 10px;
  min-width: 100px;
  border: none;
  background-size: 200% auto;
  transition: 0.5s;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2) inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contactBtn:hover {
  color: #ffffff; 
}

.heroImg {
  width: 100%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: linear-gradient(
      0deg,
      rgba(57, 46, 44, 0.7) 0%,
      rgba(57, 46, 44, 0) 100% 
    );
    filter: blur(100px);
    z-index: 0;
  }
  

  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: linear-gradient(
      0deg,
      rgba(196, 157, 131, 0.7) 0%, 
      rgba(196, 157, 131, 0) 100% 
    );
    filter: blur(100px);
    z-index: 0;
  }


  
  

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}